{% extends 'student/student_menu.html' %}
{% block title %}Choose course{% endblock %}
{% block  content %}
<div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Error message</th>
        </tr>
    </thead>
      <tbody>
    {% for message in messages %}
      <tr><th>{{ message }}</th></tr>
    {% endfor %}
      </tbody>
  {% endif %}
{% endwith %}

</table>
</div>

    <div class="courses">
    <table title="Course list" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Course name</th>
            <th>Course shortened</th>
        </tr>
    </thead>
    {% for course in courses %}
        <tr>
            <th>{{ course.course_name }}</th>
            <th>{{ course.course_shortened }}</th>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="form">
    <form class="pure-form pure-form-stacked" method=post>
          {{ form.hidden_tag() }}
          {{ form.shortened }}<br>
     <p><input type="submit" value="Choose course"></p>
     </form>
</div>
{% endblock %} #}