{% extends 'student/student_menu.html' %}
{% block title%}Give report{% endblock %}
{% block content %}
<div class="courses">
    <table title="Course list" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Course name</th>
            <th>Course shortened</th>
        </tr>
    </thead>
    {% for course in courses %}
        <tr>
            <th>{{ course['name'] }}</th>
            <th>{{ course['shortened'] }}</th>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Message</th>
        </tr>
    </thead>
      <tbody>
    <ul class=flashes>
    {% for message in messages %}
      <th>{{ message }}</th>
    {% endfor %}
    </ul>
      </tbody>
  {% endif %}
{% endwith %}

</table>
</div>
<div class="send_report_form">
     <form class="pure-form pure-form-stacked" method=post enctype=multipart/form-data>
          {{ form.hidden_tag() }}
          {{ form.course }}
          {{ form.number_in_course }}
          {{ form.attachment }}
          {{ form.comment }}
     <button type="submit" class="pure-button pure-button-primary">Submit</button>
     </form>
</div>
{% endblock %}