{% extends 'base.html' %}
{% block menu %}
    <div class="pure-menu pure-menu-horizontal">
    <a href=" {{ url_for('student.student_home') }}" class="pure-menu-heading pure-menu-link">Home</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ url_for('student.send_report') }}"
                                      class="pure-menu-link">Give report</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('student.choose_course') }}"
                                      class="pure-menu-link">Stats</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('auth.logout') }}"
                                      class="pure-menu-link">Logout</a></li>
    </ul>
</div>
{% endblock %}

