<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="Web service to control students' academic performance">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block additional_dependencied %}
{% endblock %}
</head>
<body style="background-color: lightcyan;">
<div class="container-fluid" style="margin-bottom: 60px">
    <div class="row bg-primary">
        <div class="col">{% block navbar %}{% endblock %}</div>
    </div>
    <div class="row">
        <div class="col">
            {% block left_bar %}
                {% if current_user.is_authenticated %}
                        <div class="card">
                            <div class="card-header">
                                <button
                                    class="btn btn-primary"
                                    data-toggle="collapse"
                                    data-target="#announcements">
                                    Announcements
                                </button>
                            </div>
                            <div class="card-body collapse" id="announcements" style="padding-left: 5px; padding-right: 5px">
                            </div>
                        </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="col-lg-7">
            <div class="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary" role="alert"><h5>{{ message }}</h5></div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <div class="col">{% block right_bar %}{% endblock %}
        {% if current_user.is_authenticated %}
            <div class="card">
                <div class="card-header">
                    <button
                    class="btn btn-primary"
                    data-toggle="collapse"
                    data-target="#last-events">
                    Last events
                    </button>
                </div>
                <div class="card-body collapse" id="last-events" style="padding-left: 5px; padding-right: 5px">

                </div>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="row">

    </div>
</div>
<footer class="bg-info" style="position:fixed; bottom: 0; width: 100%; height: auto">

        <div class="container-fluid">
            <div class="row">
            <div class="col">
                <a href="https://github.com/AlexPraefectus/labs_web">
                    <i style="color: black" class="fab fa-github fa-w-16 fa-3x"></i></a>
            </div>
            <div class="col" align="center">
                <p>Licensed under BSD 3-clause license</p>
            </div>
            <div class="col">
                <a  tabindex="0" style="float: right"
                    class="btn btn-lg btn-primary"
                    role="button"
                    data-html="true"
                    data-toggle="popover"
                    data-trigger="focus"
                    title="<b>What's Inside?</b>"
                    data-content="
                    Web framework - Flask<br>
                    Database - PostgreSQL<br>
                    NoSQL Storage - MongoDB<br>
                    Cache - Redis<br>
                    Task queue - Celery & Redis<br>
                    Frontend - Bootstrap & jQuery<br>
                    ">What's Inside?
                </a>
            </div>
        </div></div>
</footer>
{% block script %}{% endblock %}
<script type="text/javascript" src="{{ url_for("static", filename="js/enable_popover.js") }}"></script>
</body>
</html>