<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body style="background-color: lightcyan">
<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col">{% block navbar %}{% endblock %}</div>
    </div>
    <div class="row">
        <div class="col">{% block left_bar %}{% endblock %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stub text on the left</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod gravida nisl, vel semper turpis dapibus eu. Pellentesque efficitur nulla et feugiat aliquam. Nulla venenatis nec ipsum sed aliquam. Fusce diam est, scelerisque vitae ante et, commodo condimentum orci. Nullam rutrum quam quis arcu iaculis fermentum. Cras ac odio sed ante imperdiet aliquet. Phasellus lacinia nisi rhoncus ornare ultricies. Donec pulvinar vehicula sapien in ullamcorper.</p>
                    <p class="card-text">Nam vitae eros auctor, laoreet lacus eu, mollis leo. In metus lectus, placerat at magna eu, posuere dictum arcu. Nam lacinia ligula ac interdum placerat. Phasellus sollicitudin tellus nibh, vel placerat ante tristique placerat.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary" role="alert"><h5>{{ message }}</h5></div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <div class="col">{% block right_bar %}{% endblock %}
        {% if current_user.is_authenticated %}
            <div class="card">
                <div class="card-header">
                    <button
                    class="btn btn-primary"
                    data-toggle="collapse"
                    data-target="#last-events">
                    Last events
                    </button>
                </div>
                <div class="card-body collapse" id="last-events">

                </div>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% block script %}{% endblock %}
</body>
</html>