alabaster==0.7.12
alembic==0.9.10
amqp==2.3.2
aniso8601==3.0.2
Babel==2.6.0
billiard==3.5.0.3
blinker==1.4
bson==0.5.7
celery==5.2.2
certifi==2018.11.29
chardet==3.0.4
click==6.7
docutils==0.14
EasyProcess==0.2.5
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Caching==1.4.0
Flask-CKEditor==0.4.1
Flask-DebugToolbar==0.10.1
flask-jwtlogin==0.2.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
imagesize==1.1.0
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
Mako==1.0.7
MarkupSafe==1.0
packaging==19.0
psycopg2==2.7.5
Pygments==2.3.1
PyJWT==1.6.4
pymongo==3.7.1
pyparsing==2.3.1
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
PyVirtualDisplay==0.2.1
redis==2.10.6
requests==2.21.0
selenium==3.141.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.9
urllib3==1.24.2
vine==1.1.4
Werkzeug==0.15.3
WTForms==2.2.1
