{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Restore Password</h5>
            <p class="card-text">
                Some text about that password is encrypted and can't be send to user's email
            </p>
            <div class="ForgotForm">
                <form method="post">
                {{ form.hidden_tag() }}
                {{ form.email }}
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
