{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
    <div class="content" align="center">

    <div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Error message</th>
        </tr>
    </thead>
      <tbody>
    {% for message in messages %}
        <tr><th>{{ message }}</th></tr>
    {% endfor %}
      </tbody>
  {% endif %}
{% endwith %}

</table>
</div>

        <div class="ForgotForm">
            <form method="post" class="pure-form">
            {{ form.hidden_tag() }}
            {{ form.email }}
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
