{% extends 'base.html' %}
{% block title %}Sign in{% endblock %}
{% block content %}
<h1 align="center">Sign In</h1>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <form method="post" name="login">
                {{form.hidden_tag()}}
                <div class="form-group">{{form.username}}</div>
                <div class="form-group">{{ form.password }}</div>
                <div class="form-check">
                    {{ form.remember_me }}
                    <label class="form-check-label" for="remember_me">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="{{ url_for("user.forgot-password") }}" class="badge badge-primary" role="button">
                    <h6>Forgot password?</h6>
                </a>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
