{% extends 'student/student_menu.html' %}
{% block title %}{{ announcement.title }}{% endblock %}
{% block content %}
    <div class="card" style="min-height: 300px; margin-top: 50px;">
        <div class="card-body">
            <h2 align="center" class="card-title">{{ announcement.title }}</h2>
            <h6 class="card-subtitle" align="left">Author: {{ announcement.tutor }}</h6>
            <h6 class="card-subtitle" align="right">Date: {{ announcement.date.strftime('%d-%m-%Y - %H:%M') }}</h6>
            {{ announcement.body|safe }}
        </div>
    </div>
{% endblock %}