<div class="card">
    <div class="card-header">
        {{ course.name }}
        <button class="btn btn-primary">Show details</button>
    </div>
    <div class="card-body" hidden="true">
        <p class="card-text">Shortened: {{ course.shortened }}</p>
        <p class="card-text">Tutor: tutor.name</p>
        <p class="card-text">Labs amount: course.labs_amount</p>
        <p class="card-text">My results:</p>
        <table class="table table-sm table-bordered table-responsive-md">
            <thead>
            <tr>
                <th>Student Name</th>
                {% for count in range(0, marks[0].reports|length) %}
                <th>{{ count + 1}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ results.name }}</th>
                    {% for report in results.reports %}
                    <th>{{report}}</th>
                    {% endfor %}
                    <th>{{ results.sum }}</th>
                </tr>
            </tbody>
        </table>
        <p class="card-text"><a href="{{ url_for('student.course_documents', course_id=course.course.id) }}" class="btn btn-primary">Course documents</a></p>
    </div>
</div>