{% extends 'student/student_menu.html' %}
{% block title %}Group stats{% endblock %}
{% block content %}
<body>
<div class="card">
    <div class="card-body">
    <table title="stats" class="table table-sm table-bordered table-responsive-md">
    <thead class="thead-light">
        <tr>
            <th>Student name</th>
            {% for count in range(0, marks[0].reports|length) %}
            <th>{{ count + 1}}</th>
            {% endfor %}
            <th>Total</th>
        </tr>

    </thead>
    <tbody>
    {% for mark  in marks %}
        <tr>
            <th>{{ mark.name }}</th>
            {% for report in mark.reports %}
                <th>{{report}}</th>
            {% endfor %}
            <th>{{ mark.sum }}</th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
    <div class="alert alert-info" role="alert">
        <h3>Legend:</h3>
            <ul>
                <li><h4>N/A - report was not sent by the student</h4></li>
                <li><h4>N/C - report was not checked by the tutor</h4></li>
            </ul>
    </div>
{% endblock %}