{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Labs web</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for("student.student_home") }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("student.send_report") }}">Send Report</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Course stats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdown-children">
          <a class="dropdown-item" href="{{ url_for("student.choose_course") }}">Manual Choice</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('student.my_courses') }}">My courses</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/student_events.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/insert_menu_items.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/get_student_courses.js") }}"></script>
{% endblock %}

