{% extends 'student/student_menu.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            {% set courses = current_user.group[0].courses %}
                {% for course in courses %}
                    <button
                            class="btn btn btn-outline-primary PerformanceChartControlButton"
                            id="{{ course.course_id }}"
                            style="width: {{ 100 / courses|length - 1}}%">
                        {{ course.course_shortened }}
                    </button>
                {% endfor %}
            <div id="PerformanceChart">

            </div>
        </div>
    </div>
{% endblock %}
{% block additional_dependencied %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block  script %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/charts/draw_stu_performance_chart.js") }}"></script>
{% endblock %}