<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>

<div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Error message</th>
        </tr>
    </thead>
      <tbody>
    <ul class=flashes>
    {% for message in messages %}
      <th>{{ message }}</th>
    {% endfor %}
    </ul>
      </tbody>
  {% endif %}
{% endwith %}
</table>
</div>

<div class="reports">
    <table title="Report list" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Report id</th>
            <th>Report student</th>
            <th>Student group</th>
            <th>Number in course</th>
            <th>Upload date</th>
            <th>Student comment</th>
            <th>Report</th>
        </tr>
    </thead>
    {% for report in reports %}
        <tr>
            <th> {{ report['id'] }}</th>
            <th> {{ report['student'] }}</th>
            <th> {{ report['group'] }}</th>
            <th> {{ report['number'] }}</th>
            <th> {{ report['uploaded'] }}</th>
            <th width="150px"> {{ report['comment'] }}</th>
            <th> <a href="{{ report['link'] }}">Report</a></th>
        </tr>
    {% endfor %}
    </table>
</div>

</body>
</html>