<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="courses">
    <table title="Course list" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Course name</th>
            <th>Course shortened</th>
        </tr>
    </thead>
    {% for course in courses %}
        <tr>
            <th>{{ course['name'] }}</th>
            <th>{{ course['shortened'] }}</th>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Message</th>
        </tr>
    </thead>
      <tbody>
    <ul class=flashes>
    {% for message in messages %}
      <th>{{ message }}</th>
    {% endfor %}
    </ul>
      </tbody>
  {% endif %}
{% endwith %}

</table>
</div>
<div class="send_report_form">
     <form class="pure-form pure-form-stacked" method=post enctype=multipart/form-data>
          {{ form.hidden_tag() }}
          {{ form.course }}<br>
          {{ form.number_in_course }}<br>
          {{ form.attachment }}<br>
          {{ form.comment }}<br>
     <p><input type="submit" value="Send report"></p>
     </form>
</div>
</body>
</html>