<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>



<div class="login-form">
    <h1>Sign In</h1>
    <div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Message</th>
        </tr>
    </thead>
      <tbody>
    <ul class=flashes>
    {% for message in messages %}
      <th>{{ message }}</th>
    {% endfor %}
    </ul>
      </tbody>
      </table>
  {% endif %}
{% endwith %}
    </div>
<form class="pure-form pure-form-stacked" action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        {{form.username}}<br>
        {{ form.password }}<br>
        Remember me  {{ form.remember_me }}<br>
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>

</body>
</html>