{% extends 'tutor/tutor_menu.html' %}
{% block title %}Answer Ticket{% endblock %}
{% block content %}
    {% if pages %}
<div class="card">
    {% for i in tickets %}
        {{ i }}
        <div class="card" style="margin: 5px 0">
            <div class="card-body">
                <h5 class="card-title">
                    <span>{{  i['topic'] }} - {{ i['author']['name']  }} ({{ i['author']['group']}})</span>
                    <span style="float: right" class="card-subtitle">{{ i['sent'].strftime("%d %b %Y: %H:%M") }}</span>
                </h5>
                <p class="card-text">{{ i['body'] }}</p>
                <button class="btn btn-primary pickOption" id="{{ i['_id'] }}">
                Answer this
                </button>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Tickets navigation">

        <ul class="pagination">

            {% if page != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(".answer_ticket") }}?page={{ page - 1 }}">Previous</a>
                </li>
            {% endif %}

            {% for i in range(1, pages + 1) %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(".answer_ticket") }}?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if page < pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(".answer_ticket") }}?page={{ page + 1 }}">Next</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>
            <form class="form" method="post">
                <div class="form-group">{{ form.hidden_tag() }}</div>
                <div class="form-group">{{ form.selected_ticket }}</div>
                <div class="form-group">{{ form.answ_body }}</div>
                <div class="form-group">{{ form.make_public }}Make this answer public for course ?</div>
                <button class="btn btn-primary" type="submit">Answer ticket</button>
            </form>


    {% else %}
    <div class="alert alert-primary" role="alert"><h5>You have no tickets unanswered!</h5></div>
    {% endif %}

{% endblock %}
{% block script %}
    <script>
            $(".pickOption").click(function (event) {
                $("#selected_ticket")[0].value = $(event.target)[0].id;
            })
    </script>

{#        <script>#}
{#            $("#selected_ticket").select2();#}
{#            $("#selected_ticket").css('width', '100%')#}
{#        </script>#}
    {{ super() }}
{% endblock %}