{% extends 'tutor/tutor_menu.html' %}
{% block title %}Check reports{% endblock %}
{% block content %}
<div class="reports">
    <table title="Report list" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Report id</th>
            <th>Report student</th>
            <th>Student group</th>
            <th>Number in course</th>
            <th>Upload date</th>
{#            <th>Student comment</th>#}
            <th>Report</th>
        </tr>
    </thead>
    <tbody id="reports-tbody">
    {% for report in reports %}
        <tr>
            <th> {{ report['id'] }}</th>
            <th> {{ report['student'].name }}</th>
            <th> {{ report['group'] }}</th>
            <th> {{ report['number'] }}</th>
            <th> {{ report['uploaded'] }}</th>
{#            <th width="150px"> {{ report['comment'] }}</th>#}
            <th> <a href="{{ report['link'] }}">Report</a></th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

<div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Error message</th>
        </tr>
    </thead>
      <tbody>
    <ul class=flashes>
    {% for message in messages %}
      <th>{{ message }}</th>
    {% endfor %}
    </ul>
      </tbody>
  {% endif %}
{% endwith %}
</table>
</div>

<div class="form">
    <form class="pure-form pure-form-stacked" method="post">
        {{ form.hidden_tag() }}
        {{ form.report_id }}
        {{ form.report_mark }}
        {{ form.tutor_comment }}
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </form>
</div>
<br>
    <div class="search">
    <form class="pure-form" method="post">
        {{ search.hidden_tag() }}
        {{ search.report_group }}
        {{ search.report_number }}
        {{ search.report_student }}
        <button type="submit" class="pure-button pure-button-primary" id="search">Search
        </button>
    </form>
    </div>
{% endblock %}