{% extends 'tutor/tutor_menu.html' %}
{% block title %}Make Announcement{% endblock %}
{% block additional_dependencied %}
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post" class="form">
            <div class="form-group">
                <input type="text" placeholder="Enter announcement title" class="form-control">
            </div>
            <div class="form-group">
                <label for="groups">Groups to notify</label>
                <select class="form-control" id="groups"></select>
            </div>
            <textarea name="editor" id="editor">
                Your text here
            </textarea>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        CKEDITOR.replace( 'editor' );
    })
</script>
{% endblock %}