{% extends 'tutor/tutor_menu.html' %}
{% block title %}Choose course{% endblock %}
{% block content %}
<div>
    <table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>Course name</th>
        <th>Course shortened</th>
    </tr>
    </thead>
    {% for course in courses %}
        <tr>
            <th>{{ course['name'] }}</th>
            <th>{{ course['shortened'] }}</th>
        </tr>
    {% endfor %}
    </table>
</div>

<div class="flash">
    {% with messages = get_flashed_messages() %}
  {% if messages %}
      <table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Error message</th>
        </tr>
    </thead>
      <tbody>
    {% for message in messages %}
        <tr><th>{{ message }}</th></tr>
    {% endfor %}
      </tbody>
  {% endif %}
{% endwith %}

</table>
</div>

<div>
    <form class="pure-form pure-form-stacked" method=post>
          {{ form.hidden_tag() }}
          {{ form.shortened }}
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
     </form>
</div>
{% endblock %}
