{% extends 'tutor/tutor_menu.html' %}
{% block title %}Choose course{% endblock %}
{% block content %}
<div>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Course name</th>
        <th>Course shortened</th>
    </tr>
    </thead>
    {% for course in courses %}
        <tr>
            <th>{{ course['name'] }}</th>
            <th>{{ course['shortened'] }}</th>
        </tr>
    {% endfor %}
    </table>
</div>

<div>
    <form method=post>
          {{ form.hidden_tag() }}
        <div class="form-group">{{ form.shortened }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
     </form>
</div>
{% endblock %}
