{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Labs web</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for("tutor.tutor_home") }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Course stats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdown-children">

        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Check Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="check-reports">
            <a href="{{ url_for('tutor.tutor_choose_course') }}" class="dropdown-item">Manual choice</a>
            {% for course in current_user.courses %}
                <a class="dropdown-item" href={{ url_for('tutor.tutor_check_reports', course_id=course.course_id) }}>{{ course.course_shortened }}</a>
            {% endfor %}
        </div>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('tutor.add_course') }}">Add course</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('tutor.archive') }}">Reports Archive</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('tutor.make_announcement') }}">Make Announcement</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('tutor.answer_ticket') }}">Answer Ticket</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" style="float: right" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block script %}
{#    <script type="text/javascript" src="{{ url_for("static", filename="js/check_reports_menu.js") }}"></script>#}
    <script type="text/javascript" src="{{ url_for("static", filename="js/insert_menu_items.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/get_tutor_courses.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/get_tutor_announcements.js") }}"></script>

{% endblock %}

